table {
    border-collapse: separate;
    border-spacing: 30px 0px;
}
.cat0-0 {
    border: 10px;
    padding-bottom: 15px;
}
.cat0-1 {
    float: left;
    font-weight: bold;
    color: midnightblue;
    padding-right: 45px;
}
.cat1-0 {
    border: 10px;
    padding-bottom: 15px;
}
.cat1-1-0 {
    float: left;
    font-weight: bold;
    color: red;
    padding-right: 20px;
}
.cat1-1-1 {
    float: left;
    font-weight: bold;
    color: blue;
    padding-right: 20px;
}
.AttackTable {
    font-weight: normal;
}
input {
    width: 80px;
}
.count {
    font-size: small;
}
